{% extends 'main/base.html' %}

{% block title%}Главная страница{% endblock %}
{% block content %}
    <div class="fact">
        <div class="header"><h3>Топ 10 фактов о городе Екатеринбург</h3></div>
        <p>1. Екатеринбург был основан императором Петром I в 1723 году. Своё название получил в честь императрицы Екатерины I - второй супруги Петра I.</p>
        <p>2. В царские времена был центром железнодорожной промышленности страны.</p>
        <p>3. С 1924 по 1991 год (67 лет) носил имя «Свердловск».</p>
        <p>4. В годы Великой Отечественной войны (1941-1945) местный завод тяжелого машиностроения являлся одним из крупнейших производителей бронетехники в СССР.</p>
        <p>5. Оборудование, с помощью которого пробурили самую глубокую в мире скважину (Кольскую сверхглубокую), произведено именно в Екатеринбурге.</p>
        <p>6. Именно здесь проходило испытание первого в истории самолета с реактивным двигателем.</p>
        <p>7. Металл, из которого был выполнен каркас для статуи Свободы в Америке, добывался на территории Екатеринбурга.</p>
        <p>8. Из всех российских городов-миллионников Екатеринбург — самый компактный по площади.</p>
        <p>9. В 2012 году Екатеринбург вошёл в список лучших городов мира для жизни, заняв 12-е место.</p>
        <p>10. Занимает первое место в мире по потреблению майонеза на душу населения. В этой номинации он также занесён в книгу рекордов Гиннесса.</p>
    </div>

{% endblock %}